
body{
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  text-align:center;
  font-size: 1rem;

}
.nav{
  display: flex;
  justify-content:center;
  gap: 20px;
  margin-bottom: 40px;
}
.header{
  padding: 2rem 1rem;
  background-color: rgb(121, 175, 175);
  color: bisque;
}
.header h1{
  font-size: 2rem;
}
.header p {
  font-size: 1rem;
  color: rgb(12, 12, 12);
}



.nav a {
  text-decoration:rgb(42, 0, 139);
  color: rgb(0, 0, 139);
  font-weight: bold;
}
.Experience h2{
  margin-bottom: 20px;
  background-color: rgb(60, 173, 169);
}
.cards{
  display: flex;
  justify-content:center;
  gap: 20px;
  background-color: cadetblue;
}
.card{
  border: 2px solid;
  padding: 15px 25px;
  border-radius: 10px;
  min-width: 180px;
  background-color: rgb(136, 136, 136);
}
.card-one{
  background-color: rgb(0, 0, 0);
  color: azure;
  border-color: white;

}
.card-two{
  background-color: rgb(84, 9, 9);
  color: azure;

  border-color: white;
}
.card-three{
  background-color: rgb(2, 66, 2);
  color: azure;

  border-color: white;

}
.footer{
  margin-top: 40px;
  text-underline-position: below;


}
.footer a{
margin: 0 10px;
color: rgb(17, 53, 215);
text-decoration:none;
text-underline-position: below;
justify-content: end;
}

@media (min-width: 600px) {

  .header h1 {
    font-size: 2.5rem;
    color: #4a3aff;
  }

  .nav {
    gap: 2rem;
    padding: 1rem;
  }

  .cards {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 1024px) {

  body {
    max-width: 1200px;
    margin: auto;
  }

  .header h1 {
    font-size: 3rem;
  }

  .cards {
    grid-template-columns: repeat(3, 1fr);
  }
}